
<div>CSC 560</div>
<div>Emily Sear</div>
<div>2 March</div>
<div>Assignment 4.3</div> 

<br/><br/>


<button type="button" (click)="getAllCrochetPatterns()">Get all names of crochet patterns</button><br/><br/>
<label for="idInput">ID to get specific crochet pattern: </label>
<input type="text" id="idInput"> <br/>
<button type="button" (click)="getSingleCrochetPattern()">Get pattern given above id </button>
<div *ngIf="singleCrochetPattern != ''">{{ singleCrochetPattern }}</div>
<router-outlet></router-outlet>
