<div>CSC 560</div>
<div>Emily Sear</div>
<div>Assignment 4.2 </div>
<br/><br/>

<button type="button" (click)="allPlayersClick()">All players</button><div></div><br/>
<button type="button" (click)="mostAmtTouchdownPassesClick()">Most amount of touchdown passes</button><div></div><br/>
<button type="button" (click)="mostAmtOfRushingYardsClick()">Most rushing yards</button><div></div><br/>
<button type="button" (click)="leastAmtOfRushingYardsClick()">Least rushing yards</button><div></div><br/>
<button type="button" (click)="playersMostToLeastRecievingYardsClick()">Sorted most to least recieving yards</button><div></div><br/>
<button type="button">Most rushing yards</button><div></div><br/>

<router-outlet></router-outlet>
